.primary-header {
  padding: 40px 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.primary-navigation {
  display: none;
}
.header_button {
  display: none;
}
.primary-header .logo {
  font-size: var(--fs-banner);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-100);
}
.primary-header .logo span:nth-child(2) {
  color: var(--clr-accent-400);
}
/* menu button */
.menu-btn svg {
  overflow-clip-margin: content-box;
  overflow: hidden;
  transform: translate(-1px, -1px) scale(1.1);

  transition: transform 0.4s ease;
}
.menu-btn {
  --color: var(--clr-neutral-100);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: none;
  outline: none;
  border-radius: 4px;
  border: 2px solid var(--color);
  transition: border 0.3s ease;
}
.menu-btn.active {
  --color: var(--clr-accent-400);
  /* border: 2px solid red; */
}
.menu-btn.menu-btn.active svg {
  transform: translate(-3px, -1px) scale(1.2);
}
.menu-btn path {
  stroke-dasharray: 40 1000;
  stroke-dashoffset: -23;
  transition: all 0.4s ease;
}
.menu-btn.active path {
  stroke-dasharray: 38 1000;
  stroke-dashoffset: -103.5;
}
.menu-btn.active path:nth-child(2) {
  stroke-dasharray: 38 1000;
  stroke-dashoffset: -104;
}
/* sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 99;
  transform: translateX(0);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.sidebar a {
  font-size: var(--fs-700);
  color: var(--clr-neutral-100);
}
.sidebar li {
  margin: 10px 0;
}
.menu-btn {
  position: fixed;
  right: 20px;
  top: 60px;
  z-index: 999;
}
.sidebar.collapse {
  visibility: hidden;
  transform: translateX(100%);
}
@media (min-width: 62em) {
  .primary-navigation {
    display: block;
  }
  .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .nav-links a {
    color: var(--clr-neutral-100);
  }
  .header_button {
    display: block;
    padding: 1.5em 2em;
    line-height: 0;
  }
  .menu-btn {
    display: none;
  }
  .sidebar {
    display: none;
  }
}
