#trainer {
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: var(--clr-neutral-800);
  border-bottom: 2px solid var(--clr-neutral-700);
}
.trainer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 0 10px;
}
.trainer_container h2 {
  text-align: center;
  margin-bottom: 30px;
}
.trainer_info h3 {
  margin-top: 20px;
}
@media (min-width: 62em) {
  .trainer_info {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .trainer_info img {
    width: 50%;
  }
  .trainer_info h3 {
    margin-top: 0;
  }
}
